/* Общее */

html {
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    background: #F8FAFE;
}

@font-face {
    font-family: "Inter";
    src: url("/files/fonts/Inter-Regular.woff2");
}

.link {
    color: #018ad2;
    text-decoration-line: none;
}

.link:hover {
    color: #F36223;
    cursor: pointer;
}

.link:active {
    color:#A93A09;
}

h4 {
    margin-block-start: 0px;
    margin-block-end: 0px;
}


button:hover {
    background: #F2F2F2;
    cursor: pointer;
}

button:active {
    border: 2px solid #A93A09;
}

button {
    background: transparent;
    border: 1px solid #888888;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    padding: 10px 20px;
}



/* Mobile */

@media screen and (max-width: 1023px) and (min-width: 360px) {

    .headers {
        font-weight: 700;
        font-size: 0.5rem;
        padding: 0px 0px 20px 0px;
        width: 100%;
    }

    .container {
        max-width: 100%;
        margin: 0 auto;
        padding: 0px 5px 0px 5px;
        font-size: 10px;
    }

    /* Заголовок */

    .header-container {
        display: flex;
        flex-direction: row;
        position: sticky;
        left: 0px;
        top: 0px;
     }

     .header__container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        gap: 10px;
        background: #F8FAFE;
     }
 
     .header {
        width: 100%; 
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        left: 0px;
        top: 0px;
        width: 100%;
     }
     
     .header_style {
         left: -3px;
         top: 18px;
         font-weight: 700;
         font-size: 44px;
         line-height: 53px;
     }

     .header__like {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
        background: #888888;
        border-radius: 50%;
        border: 1px solid #888888;
        margin-top: 5px;
        margin-bottom: 5px;
        height: 30px;
        width: 30px; 
    }

    .header__like-circle {
        position: absolute;
        top: 15%;
        left: 60%;
   }

   .header__like-count {
       display: flex;
       justify-content: center;
       align-items: center;
       padding: 4px 4px;
       width: 10px;
       height: 10px;
       background: #F36223;
       border-radius: 50%;
       color: #FFFFFF;
       font-size: 12px;
    }

    .header-count__first-visit {
        visibility: hidden;
    }

   .header__like-style svg {
       fill: #FFFFFF;  
       height: 30px;
       width: 30px; 
     
   }
     
    .header__cart {
         position: relative;
         display: flex;
         justify-content: center;
         align-items: center;
         padding: 15px;
         background: #888888;
         border-radius: 50%;
         border: 1px solid #888888;
         margin-top: 5px;
         margin-bottom: 5px;
         height: 30px;
         width: 30px; 
    }
 
    .header__cart-circle {
         position: absolute;
         top: 15%;
         left: 60%;
    }

    .header__cart-count {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4px 4px;
        width: 10px;
        height: 10px;
        background: #F36223;
        border-radius: 50%;
        color: #FFFFFF;
        font-size: 12px;
     }

    .header-count__first-visit {
        visibility: hidden;
    }
 
    .header__cart-style svg {
        fill: #FFFFFF;  
        height: 30px;
        width: 30px; 
      
    }

    /* Навигация */

    .breadcrumbs {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 8px 0px;
        gap: 4px;
        font-size: 16px;
    }

    /* Основная страница */

    /* Заголовок и фото товара */

    .product-preview {
        margin-left: 0px;
    }

    .product-preview__name {
        box-sizing: border-box;
        width: 100%;
        font-weight: 700;
        font-size: 24px;

        color: #000000;
    }

    .product-preview__image {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 10px;
        gap: 5px;
        overflow: scroll;
        flex-wrap: nowrap;
        }

    .product-preview__image-s {
        height: 380px;
       
    }

    /* Информация о товаре */

    .product-about {
        box-sizing: border-box;
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        align-items: flex-start;
        padding: 0px;
        margin-bottom: 50px;
    }

    .product-info {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        font-weight: 500;
        margin-top: 30px;
    }

    /* Выбор цвета */

    .product-info__subsection {
        margin-bottom: 20px;
        width: 100%;
    }

    .product-info__color {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 10px; 
    }

    .product-info__choice {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
        gap: 10px;
        border: 1px solid #888888;
        border-radius: 4px;
        width: 80px;
        height: 80px;
    }

    .product-info__img {
        height: 60px;
    }

    .product-info__choice:hover {
        background: #F2F2F2;
        cursor: pointer;
    }

    .product-info__choice:active {
        border: 2px solid #A93A09;
    }

    .product-info__buttons {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .selectedColor {
        border: 2px solid #F36223;
    }

    .selected {
        border: 2px solid #F36223;
    } 

    .small-screen {
        display: flex;
        margin-bottom: 20px;

    }

    .big-screen {
        visibility: hidden;
        display: none;
    }


    /* Список характеристик */

    .list-style {
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;
        font-size: 1.2rem;
    }

    li::marker {
        color:#888888;
        font-size: 1.2rem;
    }

    /* Описание  */

    .product-info__description {
        box-sizing: border-box;
        font-size: 0.45rem;
    }

    /* Сайдбар  */

    .sidebar {
        margin-top: 20px;
    }

    .sidebar__buy {
        box-sizing: border-box;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
        width: 420px;
        background: #FFFFFF;
        border: 1px solid #EEEEEE;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        align-self: stretch;
    }

    .sidebar__first-line {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .sidebar__like svg {
        fill:#888888;
    }
    
    .sidebar__like:hover svg {
        cursor: pointer;
        fill:#DA4A0C;
    }

    .sidebar__like:active svg {
        cursor: pointer;
        fill:#A93A09;
    }
    
    .sidebar__cost1 {
        width: 66px;
        height: 16px;
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
        text-decoration-line: line-through;
        color: #888888;
    }
    
    .sidebar__cost2 {
        margin-bottom: 15px;
        font-weight: 600;
        font-size: 32px;
        line-height: 39px;
        color: #000000;
    }
    
    .sidebar__old-price {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 10px;
        margin-bottom: 14px;
    }
    
    .sidebar__discount {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 4px 8px;
        gap: 10px;
        width: 31px;
        height: 16px;
        background: #F36223;
        border-radius: 500px;
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        color: #FFFFFF;
    }
    
    .sidebar__delivery {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-weight: 400;
        font-size: 16px;
    }
    
    .sidebar__button_buy {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 20px 49px;
        flex-grow: 1;
        width: 380px;
        height: 64px;
        background: #F36223;
        border-radius: 4px;
        align-self: stretch;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
        border: 0;
        gap: 15px;
    }
    
    .sidebar__button_buy::before {
        content: "";
        display: inline-block;
        width: 24px;
        height: 24px;
        background-image: url(/files/img/cart.svg);
        background-repeat: no-repeat;
        background-position: center center;
    }
    
    .sidebar__button_buy:hover {
        background: #DA4A0C;
        cursor: pointer;
    }
    
    .sidebar__button_buy:active {
        background: #A93A09;
    }

    /* Реклама */

    .sidebar__frame {
        visibility: hidden;
        display: none;
    }   

    /* Таблица */

    .table-block {
        visibility: hidden;
        display: none;
    }
    
    /* Отзывы */

    .reviews-block {
        box-sizing: border-box;
        width: 100%;
    }

    .reviews-block__title {
        display: flex;
        justify-content: space-between;
        align-items: center; 
        margin-bottom: 20px;
    }

    .reviews-block__head {
        display: flex;
        align-items: center;
        gap: 10px;

    }

    .reviews-block__header {
        font-weight: 700;
        font-size: 1.4rem;

    }

    .reviews-block__count {
        font-weight: 700;
        font-size: 1.4rem;
        color: #888888;
    }

    .reviews-block__reviews {
        padding: 0px;
        gap: 20px;
    }

    .reviews-block__border:not(:last-child) {
        border-bottom: 2px dashed #888888;
        margin-bottom: 20px;
    }

    .reviews-block__review-image {
        height: 80px;
        flex-shrink: no;
    }

    .reviews-block__screen-size {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }


    .reviews-block__review-name {
        font-weight: 700;
        font-size: 1.2rem;
    }

    .reviews-block__review-raiting {
        display: flex;
        margin-bottom: 10px;

    }

    .reviews-block__review-star {
        height: 20px;
        border-radius: 1px;
    }

    .reviews-block__review-content {
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: 1rem;
        margin: 0px 0px 20px 0px;
    }

    /* Форма ввода отзыва */

    .review-form {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
        width: 100%;
        font-family: "Inter";
        font-size: 0,8rem;
    }

    .review-form__header {
        font-weight: 700;
        font-size: 1rem;
    }

    .review-form__first {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;

    }

    .review-form__second {
        display: flex;
        width: 100%;
        height: 150px;
    }    

    .review-form__name-block {
        box-sizing: border-box;
        width: 100%;
    }
    
    .review-form__raiting-block {
        box-sizing: border-box;
        width: 100%;
    }
    
    .review-form__error {
        left: 0;
        right: 0;
        min-height: 25px;
        background: #f36223;
        display: none;
        color: white;
        padding: 2px 4px;
        font-size: 14px;
    }
      
    .review-form__error-active {
        display: block;
       
    }

    .review-form__name {
        background: transparent;
        border: 1px solid #888888;
        padding: 0px;
        text-indent: 10px;
        width: 100%;
        height: 30px;
        font-size: 1.5em;
        font-family: "Inter";
    }

    .review-form__name:hover {
        border: 1px solid #000000;
    }

    .review-form__raiting {
        background: transparent;
        width: 100%;
        height: 30px;
        border: 1px solid #888888;
        padding: 0px;
        text-indent: 10px;
        font-size: 1.5em;
        font-family: "Inter";
    }

    .review-form__raiting:hover {
        border: 1px solid #000000;
    }

    .review-form__text {
        background: transparent;
        resize: none;
        border: 1px solid #888888;
        font-family: "Inter";
        font-size: 1em;
        padding: 10px 10px;
        width: 100%;
    }

    .review-form__text:hover {
        border: 1px solid #000000; 
    }

    .review-form__btn {
        padding: 5px 10px;
        gap: 10px;
        background: #F36223;
        border-radius: 4px;
        color: #FFFFFF;
        font-family: "Inter";
        font-size: 0,5rem;
    }

    .review-form__btn:hover {
        background: #DA4A0C;
        cursor: pointer;  
    }

    .review-form__btn:active {
        background: #A93A09;  
    }

    /* Подвал */

    .footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background: #F2F2F2;
        margin-top: 50px;
        background-size: cover;
        flex-flow: 1;
    }
      
    .footer__container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 1500px;
    }
    
    .footer__info {
        margin: 30px 0px;
        font-size: 0,8rem;
    }
    
    .footer__page-name {
        color: #f52
    }
    
    .footer__copyright {
        margin: 0px;
    }
    
    .copyright-bold {
        font-weight: 700;
    }
}  

/* Tablet 1024px */

@media screen and (max-width: 1499px) and (min-width: 1024px) {

    .headers {
        font-weight: 700;
        font-size: 16px;
        padding: 0px 0px 20px 0px;
        width: 100%;
    }

    .container {
        max-width: 1024px;
        margin: 0 auto;
        padding: 0px 15px 0px 15px;
    }
    
    /* Заголовок */
    
    .header-container {
        display: flex;
        flex-direction: row;
        position: sticky;
        background: #F8FAFE;
        left: 0px;
        top: 0px;
     }

    .header__container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        gap: 10px;
     }

    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        left: 0px;
        top: 0px;
        width: 100%;
    }
    
    .header_style {
        left: -3px;
        top: 18px;
        font-weight: 700;
        font-size: 44px;
        line-height: 53px;
    }

    .header__like {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        background: #888888;
        border-radius: 50%;
        border: 1px solid #888888;
        margin-top: 5px;
        margin-bottom: 5px;
        height: 30px;
        width: 30px; 
    }

    .header__like-circle {
        position: absolute;
        top: 10%;
        left: 60%;
   }

   .header__like-count {
       display: flex;
       justify-content: center;
       align-items: center;
       padding: 4px 4px;
       width: 10px;
       height: 10px;
       background: #F36223;
       border-radius: 50%;
       color: #FFFFFF;
       font-size: 10px;
    }

   .header__like-style svg {
       fill: #FFFFFF;  
       height: 30px;
       width: 30px; 
     
   }
    
    .header__cart {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        background: #888888;
        border-radius: 50%;
        border: 1px solid #888888;
        margin-top: 5px;
        margin-bottom: 5px;
        height: 30px;
        width: 30px; 
    }

    .header__cart-circle {
        position: absolute;
        top: 10%;
        left: 60%;
   }

   .header__cart-count {
       display: flex;
       justify-content: center;
       align-items: center;
       padding: 4px 4px;
       width: 10px;
       height: 10px;
       background: #F36223;
       border-radius: 50%;
       color: #FFFFFF;
       font-size: 10px;
    }

    .header-count__first-visit {
        visibility: hidden;
    }

   .header__cart-style svg {
       fill: #FFFFFF;  
       height: 30px;
       width: 30px; 
     
   }

    /* Навигация */
    
    .breadcrumbs {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 8px 0px;
        gap: 4px;
    }
    
    /* Основная страница */
    
    /* Заголовок и фото товара */
    
    .product-preview {
        margin-left: 0px;
    }
    
    .product-preview__name {
        box-sizing: border-box;
        width: 539px;
        height: 39px;
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        color: #000000;
    }
    
    .product-preview__image {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 30px;
        gap: 5px;
        left: 50px;
        top: 195px;
        overflow: scroll;
        flex-wrap: nowrap;
    }
    
    .product-preview__image-s {
        height: 380px;
    }
    
    /* Информация о товаре */
    
    .product-about {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: flex-start;
        padding: 0px;
        gap: 40px;
        margin-bottom: 50px;
    }
    
    .product-info {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: flex-start;
        padding: 0px;
        margin-top: 30px;
        font-weight: 500;
    }
    
    /* Выбор цвета */
    
    .product-info__subsection {
        margin-bottom: 20px;
    }
    
    .product-info__color {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: center; 
        align-items: flex-start;
        padding: 0px;
        gap: 10px; 
    }
    
    .product-info__choice {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
        gap: 10px;
        border: 1px solid #888888;
        border-radius: 4px;
        width: 80px;
        height: 80px;
    }
    
    .product-info__img {
        height: 60px;
    }

    .product-info__choice:hover {
        background: #F2F2F2;
        cursor: pointer;
    }
    
    .product-info__choice:active {
        border: 2px solid #A93A09;
    }
    
    .product-info__buttons {
        box-sizing: border-box;
        display: flex;
        flex-direction: columns;
        align-items: center;
        gap: 10px;
    }

    .selectedColor {
        border: 2px solid #F36223;
    }
    
    .selected {
        border: 2px solid #F36223;
    } 

    .small-screen {
        visibility: hidden;
        display: none;
    }

    /* Список характеристик */
    
    .list-style {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;
    }
    
    li::marker {
        color:#888888;
        font-size: 1.2em;
      }
    
    /* Сайдбар  */
    
    .sidebar {
        margin-top: 30px;
    }
    
    .sidebar__buy {
        box-sizing: border-box;
        flex-direction: column;
        align-items: flex-start;
        width: 360px;
        padding: 20px;
        background: #FFFFFF;
        border: 1px solid #EEEEEE;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        align-self: stretch;
    }
    
    .sidebar__first-line {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .sidebar__like svg {
        fill:#888888;
    }
    
    .sidebar__like:hover svg {
        cursor: pointer;
        fill:#DA4A0C;
    }

    .sidebar__like:active svg {
        cursor: pointer;
        fill:#A93A09;
    }

    .sidebar__cost1 {
        font-weight: 500;
        font-size: 16px;
        text-decoration-line: line-through;
        color: #888888;
    }
    
    .sidebar__cost2 {
        margin-bottom: 15px;
        font-weight: 600;
        font-size: 32px;
        color: #000000;
    }
    
    .sidebar__old-price {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        margin-bottom: 14px;
    }
    
    .sidebar__discount {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 4px 8px;
        gap: 10px;
        background: #F36223;
        border-radius: 500px;
        font-weight: 400;
        font-size: 16px;
        color: #FFFFFF;
    }
    
    .sidebar__delivery {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-weight: 400;
        font-size: 16px;
    }
    
    .sidebar__button_buy {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 20px;
        width: 100%;
        background: #F36223;
        border-radius: 4px;
        align-self: stretch;
        font-weight: 400;
        font-size: 20px;
        color: #FFFFFF;
        border: 0;
        gap: 15px;
}
    
    .sidebar__button_buy::before {
        content: "";
        display: inline-block;
        width: 24px;
        height: 24px;
        background-image: url(/files/img/cart.svg);
        background-repeat: no-repeat;
        background-position: center center;
    }
    
    .sidebar__button_buy:hover {
        background: #DA4A0C;
        cursor: pointer;
    }
    
    .sidebar__button_buy:active {
        background: #A93A09;
    }
    
    /* Реклама */
    
    .sidebar__frame {
        box-sizing: border-box;
        font-weight: 400;
        font-size: 14px;
        margin-top: 30px;
        color: #888888;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 10px;
    }
    
    .sidebar__framelook {
        border: 1px dashed #ccc;
        width: 400px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        gap: 10px;
        width: 360px;
        height: 300px;
        background: #F0F0F0;
        border: 1px dashed #888888;
    }
    
    .sidebar__framelook1 {
        border: 1px dashed #ccc;
        width: 400px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        gap: 10px;
        width: 360px;
        height: 300px;
        background: #F0F0F0;
        border: 1px dashed #888888;
    }
    
    /* Таблица */
    
    .table-block {
        visibility: hidden;
        display: none;
    }      
    
    /* Отзывы */
    
    .reviews-block {
        box-sizing: border-box;
        width: 100%;
    }
    
    .reviews-block__title {
        display: flex;
        justify-content: space-between;
        align-items: center; 
    }
    
    .reviews-block__head {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    
    .reviews-block__header {
        font-weight: 700;
        font-size: 24px;
    }
    
    .reviews-block__count {
        font-weight: 700;
        font-size: 24px;
        color: #888888;
    }
    
    .reviews-block__button {
        font-weight: 500;
        font-size: 16px;
        padding: 10px 20px;
        gap: 10px;
    }
    
    .reviews-block__reviews {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        padding: 0px;
        gap: 10px;
    }
    
    .reviews-block__border:not(:last-child) {
        border-bottom: 2px dashed #888888;
        margin-bottom: 40px;
    }

    .reviews-block__screen-size {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .reviews-block__l {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    .reviews-block__review-image {
        height: 100px;
        flex-shrink: no;
    }
    
    .reviews-block__review-name {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
    }
    
    .reviews-block__review-raiting {
        display: flex;
        margin-bottom: 20px;
    
    }
    
    .reviews-block__review-star {
        height: 30px;
        border-radius: 1px;
    }
    
    .reviews-block__review-content {
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: 14px;
        margin: 0px 0px 40px 0px;
        padding-left: 120px;
    }
    
    /* Форма ввода отзыва */
    
    .review-form {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        font-family: "Inter";
        font-size: 16px;
    }
    
    .review-form__header {
        font-weight: 700;
        font-size: 16px;
        margin-bottom: 15px;
    }
    
    .review-form__first {
        display: flex;
        gap: 40px;
        flex-direction: row;
        width: 100%;
        height: 50px;
    }
    
    .review-form__second {
        display: flex;
        width: 100%;
        height: 190px;
    }    

    .review-form__name-block {
        width: 70%;
    }
    
    .review-form__raiting-block {
        width: 30%;
    }
    
    .review-form__error {
        left: 0;
        right: 0;
        min-height: 25px;
        background: #f36223;
        display: none;
        color: white;
        padding: 2px 4px;
        font-size: 14px;
      }
      
    .review-form__error-active {
        display: block;
       
      }

    .review-form__name {
        background: transparent;
        border: 1px solid #888888;
        padding: 0px;
        min-height: 30px;
        text-indent: 20px;
        width: 100%;
    }
    
    .review-form__name:hover {
        border: 1px solid #000000;
    }
    
    .review-form__raiting {
        background: transparent;
        width: 100%;
        min-height: 30px;
        border: 1px solid #888888;
        padding: 0px;
        text-indent: 20px;
    }
    
    .review-form__raiting:hover {
        border: 1px solid #000000;
    }
    
    .review-form__text {
        background: transparent;
        resize: none;
        border: 1px solid #888888;
        font-family: "Inter";
        padding: 10px 20px;
        width: 100%;
        margin-bottom: 30px;
    }
    
    .review-form__text:hover {
        border: 1px solid #000000; 
    }
    
    .review-form__btn {
        padding: 10px 20px;
        gap: 10px;
        background: #F36223;
        border-radius: 4px;
        color: #FFFFFF;
        font-family: "Inter";
        font-size: 16px;
    }
    
    .review-form__btn:hover {
        background: #DA4A0C;
        cursor: pointer;  
    }
    
    .review-form__btn:active {
        background: #A93A09;  
    }
    
    /* Подвал */
    
    .footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background: #F2F2F2;
        margin-top: 50px;
        background-size: cover;
        flex-flow: 1;
    }
      
    .footer__container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 1500px;
    }
      
      .footer__info {
        margin: 30px 0px;
        font-size: 14px;
      }
      
      .footer__page-name {
        color: #f52
      }
      
      .footer__copyright {
        margin: 0px;
      }
      
      .copyright-bold {
        font-weight: 700;
      }    
}

/* Laptop >1500px */

@media screen and (min-width: 1500px) {

    .headers {
        font-weight: 700;
        font-size: 16px;
        padding: 0px 0px 20px 0px;
        width: 100%;
    }

    .container {
        max-width: 1500px;
        margin: 0 auto;
        padding: 0px 50px 0px 50px;
        font-size: 1em;
    }
    
    /* Заголовок */
    
    .header-container {
        display: flex;
        flex-direction: row;
        position: sticky;
        left: 0px;
        top: 0px;
     }

     .header__container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        gap: 10px;
        background: #F8FAFE;
     }
 
     .header {
        width: 100%; 
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        left: 0px;
        top: 0px;
        width: 100%;
     }
     
     .header_style {
         left: -3px;
         top: 18px;
         font-weight: 700;
         font-size: 44px;
         line-height: 53px;
     }

     .header__like {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
        background: #888888;
        border-radius: 50%;
        border: 1px solid #888888;
        margin-top: 5px;
        margin-bottom: 5px;
        height: 38px;
        width: 38px; 
    }

    .header__like-circle {
        position: absolute;
        top: 15%;
        left: 60%;
   }

   .header__like-count {
       display: flex;
       justify-content: center;
       align-items: center;
       padding: 4px 4px;
       width: 14px;
       height: 14px;
       background: #F36223;
       border-radius: 50%;
       color: #FFFFFF;
       font-size: 12px;
    }

   .header__like-style svg {
       fill: #FFFFFF;  
       height: 38px;
       width: 38px; 
     
   }
     
     .header__cart {
         position: relative;
         display: flex;
         justify-content: center;
         align-items: center;
         padding: 15px;
         background: #888888;
         border-radius: 50%;
         border: 1px solid #888888;
         margin-top: 5px;
         margin-bottom: 5px;
         height: 38px;
         width: 38px; 
     }

    .header-count__first-visit {
        visibility: hidden;
    }

     .header__cart-circle {
         position: absolute;
         top: 15%;
         left: 60%;
    }

    .header__cart-count {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4px 4px;
        width: 14px;
        height: 14px;
        background: #F36223;
        border-radius: 50%;
        color: #FFFFFF;
        font-size: 12px;
     }
 
    .header__cart-style svg {
        fill: #FFFFFF;  
        height: 38px;
        width: 38px; 
      
    }
 
    
    /* Навигация */
    
    .breadcrumbs {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 8px 0px;
        gap: 4px;
    }
    
    /* Основная страница */
    
    /* Заголовок и фото товара */
    
    .product-preview {
        margin-left: 0px;
    }
    
    .product-preview__name {
        box-sizing: border-box;
        width: 539px;
        height: 39px;
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        color: #000000;
    }
    
    .product-preview__image {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 30px;
        gap: 10px;
        left: 50px;
        top: 195px;
    }
    
    .product-preview__image-s {
        height: 380px;
    }
    
    /* Информация о товаре */
    
    .product-about {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: flex-start;
        padding: 0px;
        gap: 100px;
        margin-bottom: 50px;
    }
    
    .product-info {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: flex-start;
        padding: 0px;
        margin-top: 30px;
        font-weight: 500;
    }
    
    /* Выбор цвета */
    
    .product-info__subsection {
        margin-bottom: 20px;
    }
    
    .product-info__color {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: center; 
        align-items: flex-start;
        padding: 0px;
        gap: 10px; 
    }
    
    .product-info__choice {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
        gap: 10px;
        border: 1px solid #888888;
        border-radius: 4px;
        width: 80px;
        height: 80px;
    }
    
    .product-info__img {
        height: 60px;
    }

    .product-info__choice:hover {
        background: #F2F2F2;
        cursor: pointer;
    }
    
    .product-info__choice:active {
        border: 2px solid #A93A09;
    }
    
    .product-info__buttons {
        box-sizing: border-box;
        display: flex;
        flex-direction: columns;
        align-items: center;
        gap: 10px;
    }

    .selectedColor {
        border: 2px solid #F36223;
    }
    
 .selected {
        border: 2px solid #F36223;
    } 

    .small-screen {
        visibility: hidden;
        display: none;
    }
    
    /* Список характеристик */
    
    .list-style {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;
    }
    
    li::marker {
        color:#888888;
        font-size: 1.2em;
      }
    
    /* Сайдбар  */
    
    .sidebar {
        margin-top: 30px;
    }
    
    .sidebar__buy {
        box-sizing: border-box;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
        width: 420px;
        background: #FFFFFF;
        border: 1px solid #EEEEEE;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        align-self: stretch;
    }

    .sidebar__first-line {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .sidebar__like svg {
        fill:#888888;
    }
    
    .sidebar__like:hover svg {
        cursor: pointer;
        fill:#DA4A0C;
    }

    .sidebar__like:active svg {
        cursor: pointer;
        fill:#A93A09;
    }
    
    .sidebar__cost1 {
        width: 66px;
        height: 16px;
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
        text-decoration-line: line-through;
        color: #888888;
    }
    
    .sidebar__cost2 {
        margin-bottom: 15px;
        font-weight: 600;
        font-size: 32px;
        line-height: 39px;
        color: #000000;
    }
    
    .sidebar__old-price {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 10px;
        margin-bottom: 14px;
    }
    
    .sidebar__discount {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 4px 8px;
        gap: 10px;
        width: 31px;
        height: 16px;
        background: #F36223;
        border-radius: 500px;
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        color: #FFFFFF;
    }
    
    .sidebar__delivery {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-weight: 400;
        font-size: 16px;
    }
    
    .sidebar__button_buy {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 20px 49px;
        flex-grow: 1;
        width: 380px;
        height: 64px;
        background: #F36223;
        border-radius: 4px;
        align-self: stretch;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
        border: 0;
        gap: 15px;
    }
    
    .sidebar__button_buy::before {
        content: "";
        display: inline-block;
        width: 24px;
        height: 24px;
        background-image: url(/files/img/cart.svg);
        background-repeat: no-repeat;
        background-position: center center;
    }
    
    .sidebar__button_buy:hover {
        background: #DA4A0C;
        cursor: pointer;
    }
    
    .sidebar__button_buy:active {
        background: #A93A09;
    }
    
    /* Реклама */
    
    .sidebar__frame {
        box-sizing: border-box;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        margin-top: 30px;
        color: #888888;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 10px;
        width: 420px;
        height: 642px;
    }
    
    .sidebar__framelook {
        border: 1px dashed #ccc;
        width: 400px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        gap: 10px;
        width: 420px;
        height: 300px;
        background: #F0F0F0;
        border: 1px dashed #888888;
    }
    
    .sidebar__framelook1 {
        border: 1px dashed #ccc;
        width: 400px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        gap: 10px;
        width: 420px;
        height: 300px;
        background: #F0F0F0;
        border: 1px dashed #888888;
    }
    
    /* Таблица */
    
    .table-block {
        margin-bottom: 30px;
    }
      
    .table-block__table {
        box-sizing: border-box;
        border-collapse: collapse;
        border-spacing: 0px;
        border: 1px solid black;
        gap: 15px;
    }
      
    .table-block__title {
        font-weight: 700;
        font-size: 16px;
        text-align: left;
        margin-bottom: 20px;
    }
      
    .table-block__elements {
        border: 1px solid black;
        padding: 10px;
        border-spacing: 0px;
        text-align: center;
    }
      
    .table-bottom {
        border-bottom: none;
        border-top: none;
    }
      
    .table-block__tr_selection:hover {
        background: #F2F2F2;
    }
      
    
    /* Отзывы */
    
    .reviews-block {
        box-sizing: border-box;
        width: 100%;
        margin-bottom: 60px;
    }
    
    .reviews-block__title {
        display: flex;
        justify-content: space-between;
        align-items: center; 
        margin-bottom: 25px;
    }
    
    .reviews-block__head {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    
    .reviews-block__header {
        font-weight: 700;
        font-size: 24px;
    }
    
    .reviews-block__count {
        font-weight: 700;
        font-size: 24px;
        color: #888888;
    }
    
    .reviews-block__button {
        font-weight: 500;
        font-size: 16px;
        padding: 10px 20px;
        gap: 10px;
    }
    
    .reviews-block__reviews {
        display: flex;
        flex-direction: column;
        padding: 0px 0px 0px 10px;
        gap: 20px;
    }
    
    .reviews-block__border:not(:last-child) {
        border-bottom: 2px dashed #888888;
        margin-bottom: 40px;
    }
    
    .reviews-block__screen-size {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
    }

    .reviews-block__l {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    .reviews-block__review-image {
        height: 140px;
        flex-shrink: no;
    }
    
    .reviews-block__review-name {
        font-weight: 700;
        font-size: 24px;
    }
    
    .reviews-block__review-raiting {
        display: flex;    
    }
    
    .reviews-block__review-star {
        height: 35px;
        border-radius: 1px;
    }
    
    .reviews-block__review-content {
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: 16px;
        margin: 0px 0px 40px 0px;
        padding: 0px 0px 0px 170px;
    }
    
    /* Форма ввода отзыва */
    
    .review-form {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        gap: 40px;
        align-items: flex-start;
        width: 100%;
        padding: 0px 0px 0px 180px;
        font-family: "Inter";
        font-size: 16px;
    }
    
    .review-form__header {
        font-weight: 700;
        font-size: 16px;
    }
    
    .review-form__first {
        display: flex;
        flex-direction: row;
        gap: 40px;
        width: 100%;
        height: 49px;
    
    }
    
    .review-form__second {
        display: flex;
        width: 100%;
        height: 190px;
    }    

    .review-form__name-block {
        width: 70%;
    }
    
    .review-form__raiting-block {
        width: 30%;
    }

    .review-form__name {
        background: transparent;
        border: 1px solid #888888;
        padding: 0px;
        text-indent: 20px;
        width: 100%;
        height: 50px;
    }

    .review-form__error {
        left: 0;
        right: 0;
        min-height: 25px;
        background: #f36223;
        display: none;
        color: white;
        padding: 2px 4px;
        font-size: 14px;
      }
      
    .review-form__error-active {
        display: block;
       
      }
    
    .review-form__name:hover {
        border: 1px solid #000000;
    }
    
    .review-form__raiting {
        background: transparent;
        width: 100%;
        border: 1px solid #888888;
        padding: 0px;
        text-indent: 20px;
        height: 50px;
    }
    
    .review-form__raiting:hover {
        border: 1px solid #000000;
    }
    
    .review-form__text {
        background: transparent;
        resize: none;
        border: 1px solid #888888;
        font-family: "Inter";
        padding: 10px 20px;
        width: 100%;
    }
    
    .review-form__text:hover {
        border: 1px solid #000000; 
    }
    
    .review-form__btn {
        padding: 10px 20px;
        gap: 10px;
        background: #F36223;
        border-radius: 4px;
        color: #FFFFFF;
        font-family: "Inter";
        font-size: 16px;
    }
    
    .review-form__btn:hover {
        background: #DA4A0C;
        cursor: pointer;  
    }
    
    .review-form__btn:active {
        background: #A93A09;  
    }
    
    /* Подвал */
    
    .footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background: #F2F2F2;
        margin-top: 50px;
        background-size: cover;
        flex-flow: 1;
    }
      
    .footer__container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 1500px;
    }

    .footer__info {
        margin: 30px 0px;
        font-size: 14px;
    }
      
    .footer__page-name {
        color: #f52
    }
      
    .footer__copyright {
        margin: 0px;
    }
      
    .copyright-bold {
        font-weight: 700;
    }    
}

